body {
    background-color: rgb(152, 108, 219); 
    margin: 0;

    margin: 50px auto;
    font-family: 'Courier New', Courier, monospace;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}
header {
    display: flex;
    font-size: 60px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.idryss {
    display: flex;
    justify-content: center;
}
p {
    color: black;

}
.clear {
    border: solid 3px purple
}
.pixel {
    min-height:1%;
    min-width: 1%;
}
.clear {
    border-radius: 10px;
    width: 70px;
    background-color: #FFF;

}
.colorCanva {
    display: flex;
    flex-direction: column;
}
.canva {
    display: flex;
    justify-content: center;
    align-items: center;

}
.colorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}


div {
    outline: none;
}
.color {
    height: 50px;
    width: 50px;
    border-radius: 50px;

}
.white {
    border: 1px solid black;
}
.container {
    display: grid;
    border: 3px solid black;
    background-color: white;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    height: 700px;
    width: 700px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.size {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sizeValue {
    font-weight: bold;
    font-size: 30px;
    margin: 5px;
}

input{
    background-color: aqua;
}

footer {
    display: flex;
    justify-content: center;
    height: 50px;
}

img {
    width: 30px;
    height: 30px;
    align-items: baseline;
   
}